<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">                
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/admin-style.css">
    </head>
    <body>
        <div>
            <center><%= text %></center>
            <div class="w3-container w3-white w3-panel w3-border w3-round-large size3">
            <form action="/insert_StudentInfo" class="formset" method="POST">
                <h2><u>Student Form</u></h2><br>
                <h4>First Name:</h4>
                <input  class="w3-border w3-round" type="text" name="firstname" placeholder="Alex"   required><br>
                <h4 >Last Name:</h4>
                <input class="w3-border w3-round" type="text" name="lastname" placeholder="salvatore" required><br>               
                <h4>Father's Name:</h4>
                <input  class="w3-border w3-round" type="text" name="fathername" placeholder="stefan" required><br>
                <h4>phone No:</h4>
                <input  class="w3-border w3-round" type="text" name="phone_no" placeholder="xxxxxxxxxx" required><br>
                <h4>Email:</h4>
                <input  class="w3-border w3-round" type="text" name="email" placeholder="abc@gmail.com" required><br>
                <h4>roll no:</h4>
                <input  class="w3-border w3-round" type="number" name="rollno" placeholder="10" required><br>
                <h4>Class:</h4>
                <input type="number" class="w3-border w3-round" name="class" placeholder="5" required/>
                <!-- <select  class="w3-border w3-round" type="Number" id="class" name="class" placeholder="class_six" required>
                    <option value="class_lkg">class_lkg</option>
                    <option value="class_ukg">class_ukg</option>
                    <option value="class_one">class_one</option>
                    <option value="class_two">class_two</option>
                    <option value="class_three">class_three</option>
                    <option value="class_four">class_four</option>
                    <option value="class_five">class_five</option>
                    <option value="class_six">class_six</option>
                    <option value="class_seven">class_seven</option>
                    <option value="class_eight">class_eight</option>
                    <option value="class_nine">class_nine</option>
                    <option value="class_ten">class_ten</option>
                </select><br> -->
                <h4>fee:</h4>
                <input  class="w3-border w3-round" id="fee" name="fee" required><br>
                <button class="w3-button w3-round w3-blue btn" onclick="">Submit</button>
            </form>
         </div>
        <div class="w3-container w3-white w3-panel w3-border w3-round-large size1">
           <div align="center"><br>
            <br>
        <span>
            <%  list.forEach(list => {%>
                <% if(list){%>
                    
                   <p> Donation: <%=list.donation%><br></p>
                   <p> class-LKG <span id="lkg"><%=list.class_lkg%></span><br></p>
                   <p> class-UKG <span id="ukg"><%=list.class_ukg%></span><br></p>
                   <p> class-ONE <span id="one"><%=list.class_one%></span><br></p>
                   <p> class-TWO <span id="two"><%=list.class_two%></span><br></p>
                   <p> class-THREE <span id="three"><%=list.class_three%></span><br></p>
                   <p> class-FOUR <span id="four"><%=list.class_four%></span><br></p>
                   <p> class-FIVE <span id="five"><%=list.class_five%></span><br></p>
                   <p> class-SIX <span id="six"><%=list.class_six%></span><br></p>
                   <p> class-SEVEN <span id="seven"><%=list.class_seven%></span><br></p>
                   <p> class-EIGHT <span id="eight"><%=list.class_eight%></span><br></p>
                   <p> class-NINE <span id="nine"><%=list.class_nine%></span><br></p>
                   <p> class-TEN <span id="ten"><%=list.class_ten%></span><br></p>
                
            <%}})%>
        </span>
           </div>
        </div>

        <script>
            function updatefee()
            {
                var x = document.getElementById("fee");
                var lkg = document.getElementById('lkg').innerHTML;
                var ukg = document.getElementById('ukg').innerHTML;
                var one = document.getElementById('one').innerHTML;
                var two = document.getElementById('two').innerHTML;
                var three = document.getElementById('three').innerHTML;
                var four = document.getElementById('four').innerHTML;
                var five = document.getElementById('five').innerHTML;
                var six = document.getElementById('six').innerHTML;
                var seven = document.getElementById('seven').innerHTML;
                var eight = document.getElementById('eight').innerHTML;
                var nine = document.getElementById('nine').innerHTML;
                var ten = document.getElementById('ten').innerHTML;
                var option = document.getElementById("class").value;
                
                if(option==lkg)
                   x.value = lkg;
                if(option==ukg)
                   x.value = ukg;
                if(option==one)
                   x.value = one;
                if(option==two)
                   x.value = two;
                if(option==three)
                   x.value = three;
                if(option==four)
                   x.value = four;
                if(option==five)
                   x.value = five;
                if(option==six)
                   x.value = six;
                if(option==seven)
                   x.value = seven;
                if(option==eight)
                   x.value = eight;
                if(option==nine)
                   x.value = nine;
                if(option==ten)
                   x.value = ten;
            }
         </script>

    </body>
</html>  
