<!DOCTYPE html>
<html>
    <head>
        <title>
            Payment Information details
        </title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/admin-style.css">
    </head>
    <body>
       
       <div class="w3-container w3-white w3-panel w3-border w3-round-large size2">
        <div align="center"><br>
         <br>
        
         <% if(list){%>
            <p>Firstname :<%= list.firstname %><br></p>
            <p> RollNumber :<%=list.rollno%><br></p>
            <p> class :<%=list.class%><br></p>
            <p> Amount paid: <%=list.fee%><br></p>
        <%}%>

            <% if(list==0){%>
                 
                <h1><%= "Student not found" %><br></h1>
                
            <%}%>
                <input type="button" value="homepage" onclick="location.href='/admin_homepage'" class="w3-button w3-round w3-blue btn"/>

        </div>
     </div>
    
    </body>
</html>